
/*-----------Header-------------*/
header {
    height: 10vh;
    line-height: 10vh;
    background-color: #fff;
    box-shadow: 0px 7px 2px -3px rgba(89, 89, 89, 0.02);
  }
  
  header a {
    /* color: #767676; */
    color: #000;
    margin: 0 12px;
    font-size: 18px;
    font-weight: 500;
  }
  
  header .logo {
    margin-left: 5px;
    margin-top: auto;
  }
  
  header .logo img {
    height: 60px;
  }
  
  header .logo h2 {
    padding-left: 30px;
  }
  
  .nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  button {
    background: none;
    border: none;
    overflow: none;
    font-weight: bold;
  }
  .outline-btn-header {
    border: 2px solid #000;
    border-radius: 0.8rem;
    padding: 10px 20px;
    font-family: Vazirmatn, sans-serif;
    font-size: 12px;
  }
  /*-----------Header-------------*/