
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: Vazirmatn, sans-serif;
  background-color: #f8f8f8;
}

/*-----------GLOBAL-------------*/
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.container {
  max-width: 95%;
  margin: auto;
}
.headerContainer {
  max-width: 95%;
  margin: auto;
}
.flexSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  background: none;
  border: none;
  overflow: none;
  font-weight: bold;
}
.outline-btn {
  border: 2px solid #000;
  padding: 14px 40px;
  font-family: Vazirmatn, sans-serif;
}
.row {
  width: 50%;
}
/*-----------GLOBAL-------------*/
/*-----------Header-------------*/
header {
  height: 10vh;
  line-height: 10vh;
  background-color: #fff;
  box-shadow: 0px 7px 2px -3px rgba(89, 89, 89, 0.02);
}

header a {
  /* color: #767676; */
  color: #000;
  margin: 0 20px;
  font-size: 18px;
  font-weight: 500;
}

header .logo {
  margin-left: 5px;
  margin-top: auto;
}

header .logo h2 {
  padding-left: 30px;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*-----------Header-------------*/

