
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: Vazirmatn, sans-serif;
  background-color: #f8f8f8;
}

/*-----------GLOBAL-------------*/
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.container {
  max-width: 95%;
  margin: auto;
}
.headerContainer {
  max-width: 95%;
  margin: auto;
}
.flexSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  background: none;
  border: none;
  overflow: none;
  font-weight: bold;
}
.outline-btn {
  border: 2px solid #000;
  padding: 10px 20px;
  font-family: Vazirmatn, sans-serif;
  font-size: 14px;
}
.row {
  width: 50%;
}
/*-----------GLOBAL-------------*/

::-webkit-scrollbar{
  display: none;
}


.stroke-text {
  color: transparent;
  font-family: Vazirmatn, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
}